# Dataset
data/
fma_small/
fma_metadata/

# Local demo and test audio
demo_audio/
*.wav
*.mp3
FMA_small_8_real_test_cases.zip

# Trained models
models/*.pt

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Kaggle / credentials
.kaggle-run/
kaggle.json
access_token

# OS/editor junk
.DS_Store
Thumbs.db
